<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>À propos</title>
</head>
<body class="bg-blanc">
    <nav id="navbar" class="text-noir">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between items-center h-16">
                <div class="flex-1 flex justify-center space-x-7 mt-10">
                    <div class="hidden md:flex items-center space-x-8 fixed">
                        <a href="#a_propos" class="py-4 px-2 font-semibold hover:text-gray-700 transition duration-300 font-titre scroll-link">À PROPOS</a>
                        <a href="#competences" class="py-4 px-2 font-semibold hover:text-gray-700 transition duration-300 font-titre scroll-link">COMPÉTENCES</a>
                        <a href="/realisations/" class="py-4 px-2 font-semibold hover:text-gray-700 transition duration-300 font-titre">RÉALISATIONS</a>
                        <a href="/contact/" class="py-4 px-2 font-semibold hover:text-gray-700 transition duration-300 font-titre">CONTACT</a>
                    </div>
                </div>
                <div class="md:hidden flex items-center justify-end">
                    <button class="outline-none mobile-menu-button">
                        <svg class="w-10 h-10 text-noir hover:text-gray-700" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M4 6h16M4 12h16m-7 6h7"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    
        <div class="hidden mobile-menu">
            <ul class="">
                <li><a href="#a_propos" class="block text-sm px-2 py-4 text-noir hover:bg-gray-200 transition duration-300 font-titre">À PROPOS</a></li>
                <li><a href="#competences" class="block text-sm px-2 py-4 text-noir hover:bg-gray-200 transition duration-300 font-titre">COMPÉTENCES</a></li>
                <li><a href="/realisations/" class="block text-sm px-2 py-4 text-noir hover:bg-gray-200 transition duration-300 font-titre">RÉALISATIONS</a></li>
                <li><a href="/contact/" class="block text-sm px-2 py-4 text-noir hover:bg-gray-200 transition duration-300 font-titre">CONTACT</a></li>
            </ul>
        </div>
    </nav>
    
    <section class="flex justify-center items-center h-screen flex-col animate-fadeIn px-4">
        <img src="/Déco.svg" alt="" class="w-24 md:w-36">
        <img src="/Portfolio.svg" alt="" class="w-48 md:w-7/12">
        <h2 class="text-noir font-titre text-2xl md:text-xl">LEGER Joris</h2>
    </section>

    <section id="a_propos" class="flex grid-flow-col bg-noir justify-center items-center gap-20 px-72 h-screen">
        <div class="flex items-center justify-center h-screen">
            <div class="w-96 h-auto bg-blanc rounded-lg shadow-lg border border-blanc overflow-hidden">
                <div class="bg-blanc p-3 flex items-center justify-between">
                    <div class="flex space-x-2">
                        <span class="w-3 h-3 bg-red-500 rounded-full"></span>
                        <span class="w-3 h-3 bg-yellow-500 rounded-full"></span>
                        <span class="w-3 h-3 bg-green-500 rounded-full"></span>
                    </div>
                </div>
                <div class="flex-grow">
                    <img src="/192540418d129c8ca02c63a35bf70317.jpg" class="w-full h-full object-cover">
                </div>
            </div>
        </div>
        <div>
            <div class="flex flex-row justify-between items-center gap-10 mb-5">
                <h1 class="text-blanc text-3xl font-semibold font-titre">À PROPOS</h1>
                <img src="/Déco-B.svg" alt="" class="w-24 md:w-36">
            </div>
            <div class="mb-5">
                <p class="text-blanc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="mb-5">
                <p class="text-blanc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </section>

    <section id="competences" class="bg-noir h-screen p-32">
        <div class="bg-blanc rounded-3xl p-10 h-full">
            <h1 class="text-noir text-3xl font-semibold font-titre mb-10">COMPÉTENCES</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-20">
                <div>
                    <div class="pb-10">
                        <h2 class="pb-3 text-noir font-titre text-xl">Les logiciels maîtrisés</h2>
                        <div class="flex flex-wrap gap-2">
                            <img src="/PremièrePro.svg" alt="">
                            <img src="/AfterEffect.svg" alt="">
                            <img src="/Figma.svg" alt="">
                            <img src="/Illustrator.svg" alt="">
                            <img src="/Photoshop.svg" alt="">
                            <img src="/XD.svg" alt="">
                            <img src="/InDesign.svg" alt="">
                        </div>
                    </div>
                    <div>
                        <h2 class="pb-3 text-noir font-titre text-xl">Les langages vus</h2>
                        <div class="flex flex-wrap gap-5">
                            <img src="/HTML.svg" alt="">
                            <img src="/CSS.svg" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <h2 class="pb-3 text-noir font-titre text-xl">Mes formations</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                    <div class="mt-10">
                        <h2 class="pb-3 text-noir font-titre text-xl">Mes expériences</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const btn = document.querySelector("button.mobile-menu-button");
            const menu = document.querySelector(".mobile-menu");
            const navbar = document.getElementById('navbar'); // Sélectionne la navbar
            if (btn) {
                btn.addEventListener("click", () => {
                    if (menu) {
                        menu.classList.toggle("hidden"); // Affiche ou cache le menu mobile
                    }
                });
            }
    
            // Défilement fluide pour le lien "À PROPOS"
            document.querySelectorAll('.scroll-link').forEach(anchor => {
                anchor.addEventListener('click', (e) => {
                    e.preventDefault(); // Empêche le comportement par défaut du lien
                    const targetId = anchor.getAttribute('href'); // Récupère l'attribut href
                    if (targetId) {
                        const targetElement = document.querySelector(targetId); // Sélectionne l'élément cible
                        if (targetElement) {
                            targetElement.scrollIntoView({
                                behavior: 'smooth' // Défilement fluide
                            });
                        }
                    }
                });
            });

            // Changement de couleur de la navbar en fonction de la section visible
            if (navbar) {
                const sections = document.querySelectorAll('section'); // Sélectionne toutes les sections
                const options = {
                    root: null,
                    rootMargin: '0px',
                    threshold: 0.5 // Déclenche l'observation lorsque 50% de la section est visible
                };

                const observer = new IntersectionObserver((entries) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            if (entry.target.id === 'a_propos' || entry.target.id === 'competences') {
                                navbar.classList.remove('text-noir');
                                navbar.classList.add('text-blanc'); // Change la navbar en blanc sur fond noir
                            } else {
                                navbar.classList.remove('text-blanc');
                                navbar.classList.add('text-noir'); // Change la navbar en noir sur fond blanc
                            }
                        }
                    });
                }, options);

                sections.forEach(section => {
                    observer.observe(section); // Observe chaque section
                });
            }
        });
    </script>
</body>
</html>